@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #F8EFE8;
}

h1{
  font-size: 4.5rem;
  font-weight: bold;
}

h2{
  font-size: 3rem;
  font-weight: bold;
}

button{
  border: 2px solid darkgreen;
  padding: 7px 10px;
  color: darkgreen;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 8px;
}

button:hover{
  background-color: darkgreen;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
